body {
    margin: 0;
    background: #000000;
    font-family: 'Arial', sans-serif;
    overflow-x: hidden;
}

.navbar {
    position: fixed;
    width: 100%;
    padding: 2rem 0.5rem;
    background: rgba(0, 0, 0, 0.01);
    z-index: 1000;
    display: flex;
    justify-content: space-between;
}
